@import url(/css/reset.css);
@import url(/css/ex3.css);
@import url(/css/ex6.css);

body{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}